<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="combobox-select-only.css" rel="stylesheet">
    </head>
    <body>
        <combo-box>
            <label class="combo-label">
                Favorite Fruit
            </label>
            <select class="combo-input">
                <option class="combo-option" value="none">Choose a fruit</option>
                <option class="combo-option" value="apple">Apple</option>
                <option class="combo-option" value="banana">Banana</option>
                <option class="combo-option" value="blueberry">Blueberry</option>
                <option class="combo-option" value="boysenberry">Boysenberry</option>
                <option class="combo-option special" value="cherry">Cherry</option>
                <option class="combo-option" value="cranberry">Cranberry</option>
                <option class="combo-option" value="durian">Durian</option>
                <option class="combo-option" value="fig">Fig</option>
                <option class="combo-option" value="grape">Grape</option>
                <option class="combo-option" value="guava">Guava</option>
                <option class="combo-option" value="huckleberry">Huckleberry</option>
            </select>
            <select-indicator class="class">
              <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-8mmkcg"><path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path></svg> 
            </select-indicator>
        </combo-box>
        <script type="text/javascript" src="./combobox-select-only.js"></script>
    </body>
</html>
